*{
    margin:0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: hsl(0, 0%, 97%);
    color: #000000;
}
.header{
    color:#333;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 40px 0;
    color: rgb(6, 4, 4);
}
.input-box .field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    border-radius: 30px;
    margin-bottom: 15px;
    border: none;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input-submit label{
    background-color: #010412e7;
    margin-left: 60px;
    padding:15px 50px;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    color: #fff;
}
.signup{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
.header1 .san{
    padding: 15px 50px;
    width: 80px;
    text-align: center;
    position: relative;
    left:65px;
    bottom: 10px;
    border-radius: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}